<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>履歴レポートDL | Airline Ticket Reservation System</title>

    <link rel="stylesheet" href="../../../resources/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../../resources/vendor/bootstrap/css/bootstrap-theme.min.css" th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="../../../resources/css/style.css" th:href="@{/resources/css/style.css}">

  </head>
  <body>

    <header th:replace="~{A0/header :: header}"></header>

    <div class="container">

      <div class="row">

        <section class="col-md-12">
          <div class="alert alert-danger">
            <p>ダウンロードに失敗しました。</p>
          </div>

          <div class="col-md-12 text-center">
            <a href="../A0/top.html" th:href="@{/}" class="btn btn-default">トップに戻る</a>
          </div>
        </section>

      </div><!-- /row -->

    </div><!-- /container -->

    <footer th:replace="~{A0/footer :: footer}"></footer>

    <script src="../../../resources/vendor/jquery/jquery.min.js" th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
    <script src="../../../resources/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <script src="../../../resources/js/atrs.js" th:src="@{/resources/js/atrs.js}"></script>
  </body>
</html>
